<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation"> 
    <section class="top-bar-section">
      <ul class="left">
        <!-- link to home -->
        <li><%= link_to "Home", home_path %></li>

          <li class="has-dropdown">
            <%= link_to "Stores", stores_path %>
            <ul class="dropdown">
              <li><%= link_to "Store List", stores_path %></li>
              <li><%= link_to "My Store", store_path(current_user.employee.store) %></li>
            </ul>
          </li>
          <li><%= link_to "Jobs", jobs_path %></li>
          <li><%= link_to "Flavors", flavors_path %></li>
          <li><%= link_to "My Info", employee_path(current_user.employee) %></li>
          <li><%= link_to "My Assignments", assignments_path %></li>
          <li><%= link_to "My Shifts", shifts_path %></li>
          <li><%= link_to "My Account", user_path %></li>
      </ul>
    </section>
  </nav>
</div>