<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>A &amp; M Creamery</title>
    <%= stylesheet_link_tag    "application", :media => "all"%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div id="title_area">
        <%= link_to image_tag('creamery_title.png'), home_path %>
      </div>
    </div>
    <% if logged_in? && current_user.role == "admin" %>
      <%= render :partial => "partials/admin_nav" %>
    <% elsif logged_in? && current_user.role == "manager" %>
      <%= render :partial => "partials/manager_nav" %>
    <% elsif logged_in? && current_user.role == "employee" %>
      <%= render :partial => "partials/employee_nav" %>
    <% else%>
      <%= render :partial => "partials/general_nav" %>
    <% end %>
    

    <div class="row">
      <div class="small-2 columns"></div>
      <div class="small-8 columns">
        <%= render :partial => "partials/flash" %>
      </div>
      <div class="small-2 columns"></div>
    </div>


    
    <div class="row">
      <div class="small-12 columns" id="main_content">
        <div class="small-8 columns" id="main_content"></div>
        <div class="small-4 columns" id="main_content">
          <div id="login">
            <% if logged_in? %>
              <%= link_to 'Logout', logout_path %>
              <br>[<%= current_user.proper_name %>:<%= current_user.role %>]
            <% else %>
              <%= link_to 'Login', login_path %>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>


        
    <footer>
      <div class="small-12 columns" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer> 
    <%= javascript_include_tag "application" %>
  </body>
</html>
